body{
    background-color: #000000;
}

header .menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'MuseoModerno', cursive;
    margin: 10px;
    margin-top: -50px;
    font-size: 14pt;
}

header a:hover{
    color: #c72a59;
}

.logo h2{
    color: white;
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    font-size: 22pt;
    margin-left: 50px;
    margin-top: -5px;
    background: -webkit-linear-gradient(rgb(247, 66, 171), rgb(101, 166, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div h1{
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 107, 156));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
}

.de{
    display: flex;
    flex-direction: row;
}

div .img, .img1, .img2, .img3{
    margin-left: 75px;
}

div .img1{
    margin-top: 28px;
}

div .img2{
    margin-top: -52px;
}

div .img3{
    background-color: white;
    width: 350px;
    height: 270px;
}

footer{
    display: flex;
    flex-direction: row;
}

footer .div1{
    background-color: #383838;
    padding: 10px;
    margin-bottom: -10px;
    margin-top: 20px;
    margin-left: -15px;
    width: 700px;
}

footer .div2{
    background-color: #302f2f;
    padding: 10px;
    margin-bottom: -10px;
    margin-top: 20px;
    width: 500px;
}

footer .div3{
    background-color: #ea98bb;
    padding: 10px;
    margin-bottom: -10px;
    margin-top: 20px;
    margin-right: -8px;
    width: 300px;
}